

<form name="myForm" class="form-row" novalidate style="margin-top: 2%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-5" style="height: 150px;">
				<label>Tekst: </label><br />
				<textarea class="form-control" ng-model="text" style="position:absolute;width:100%;height:100%;resize: none"> </textarea>
			</div>
			<div class="col-sm-2" style="vertical-align:middle;text-align: center">
				<img src="pages/a.jpg" style="width:30px;height:30px;position: absolute;" ng-click="pasteResultToInput()">
			</div>
			<div class="col-sm-5" style="height: 150px;">
				<label>Wynik: </label><br />
				<textarea class="form-control" ng-model="result" style="position:absolute;width:100%;height:100%;resize:none" readonly="readonly"></textarea>>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5" style="padding-top:40px;">
				<label>Klucz: {{key.$touched}}</label><br />
				<div>
					<input name="key" type="text" class="form-control" ng-model="key" style="position:absolute;width:100%;" required ng-pattern="/^(2[0-6]|1[0-9]|[0-9])$/"><br /><br/>
					<div class="alert alert-warning" ng-show="myForm.key.$error.required && myForm.key.$invalid">Wymagany klucz będący liczbą od 0 do {{alphabetLength}}.</div>
					<div class="alert alert-danger" ng-show="myForm.key.$invalid && !myForm.key.$error.required">Klucz powinien być liczbą od 0 do {{alphabetLength}}.</div>
				</div>	
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5" style="padding-top:40px;"> 
				<br />
				<button type="button" class="btn btn-warning" style="border: coded" ng-click="code()">ZAKODUJ</button>
				<button type="button" class="btn btn-warning" ng-click="decode()">DEKODUJ</button>
			</div>
		</div>
	</div>
</form> 

